<script setup lang="ts">
const props = defineProps(['title', 'body', 'id'])
const emits = defineEmits(["cambiarFavorito"])
</script>

<template lang="pug">
.card
  .card-body
    h5.card-title N.{{id}}: {{title}}
    p {{ body }}
    button.btn.btn-outline-primary(
      @click="emits('cambiarFavorito', title, id)"
    ) Set Favorito

</template>