<script setup lang="ts">
import { ref } from 'vue';
const counter = ref<number>(0)
const increment = () => counter.value++
</script>

<template lang="pug">
h2 Counter: {{counter}} 
button(@click="increment") +1
</template>

<style scoped>
button {
  width: 50px;
}
h2 {
  display: inline-block;
}
</style>