<script setup lang="ts">
const emit = defineEmits(["changePostRangeEmit"])
</script>

<template lang="pug">
.btn-group
  .btn.btn-outline-primary(@click="emit('changePostRangeEmit',-1)") Prev
  .btn.btn-outline-primary(@click="emit('changePostRangeEmit',1)") Next
</template>