<script setup lang="ts">
import { ref, onMounted } from 'vue';
import BlogPost from './components/BlogPost.vue';
import PaginatePost from './components/PaginatePost.vue';
import ButtonCounter from './components/ButtonCounter.vue';
import LoadingSpinner from './components/LoadingSpinner.vue'

interface Typicode {
  id: number;
  body: String;
  title: String;
}

// Vars
const posts = ref<Typicode[]>([])
const postRange = ref<number>(0)
const favorito = ref<string>("")
const loading = ref<boolean>(true)
// Methods
const cambiarFavorito = (post:string, id:number) => {
  favorito.value = `${id} - ${post}`
}
const changePostRange = (val:number) => {
  postRange.value += val
  if(postRange.value < 0) postRange.value += 10
  postRange.value = postRange.value % 10
}

onMounted(async() => {
  try {
    const res = await fetch("https://jsonplaceholder.typicode.com/posts/")
    posts.value = await res.json()
  } catch (error) {
    console.log(error)
  } finally {
    setTimeout(() => {
      loading.value = false
    }, 1000)
  }
})

// fetch("https://jsonplaceholder.typicode.com/posts/")
//   .then(res => res.json())
//   .then(data => {posts.value = data})
//   .finally(() => {
//     setTimeout(() => {
//       loading.value = false
//     }, 1000)
//   })

</script>

<template lang="pug">
LoadingSpinner(v-if="loading")
.container(v-else)
  h1 Mi post favorito es: {{favorito}}
  ButtonCounter
  ButtonCounter
  br
  PaginatePost(
    @changePostRangeEmit="changePostRange"
  ).mb-2
  template(v-for="post in posts.slice(0+postRange*10,10+postRange*10)" :key="post.id")
    BlogPost(
      :id="post.id"
      :title="post.title"
      :body="post.body"
      @cambiarFavorito="cambiarFavorito"
    )
</template>
